# {{ ansible_managed }}

## General

### GitHub
Host github.com
  HostName github.com
  IdentityFile {{ ssh_config_github_identityfile_path }}
  User git

## CHPC

### SSH Bastion
Host chpc-bouncer
  HostName bouncer.chpc.utah.edu
  IdentitiesOnly yes
  Port 22
  User {{ ssh_config_uofu_user }}

### GitLab
Host gitlab.chpc.utah.edu
  HostName gitlab.chpc.utah.edu
  IdentityFile {{ ssh_config_gitlab_identityfile_path }}
  Port 22
  #  ProxyJump chpc-bouncer
  User git

## SLATE

### SSH Bastion
Host slate-bastion
  HostName bastion.slateci.net
  IdentitiesOnly yes
  IdentityFile {{ ssh_config_slate_identityfile_path }}
  Port 22
  User {{ ssh_config_slate_user }}

### Old Jenkins box
Host slate-jenkins
  HostName jenkins.slateci.io
  IdentityFile {{ ssh_config_slate_identityfile_path }}
  Port 22
  ProxyJump slate-bastion
  User {{ ssh_config_slate_user }}
