Host {{ ssh_config_gitlab_host }}
  HostName {{ ssh_config_gitlab_host }}
  IdentityFile {{ ssh_config_gitlab_identityfile_path }}
  User git
Host github.com
  HostName github.com
  IdentityFile {{ ssh_config_github_identityfile_path }}
  User git
