---

####################################################
# This is a template file. Do not add actual       #
# values here. See README.md for instructions.     #
####################################################

local_user: 'vagrant'
local_user_email: 'no-reply@vagrant.test'
local_user_name: 'Vagrant VM'
local_user_gpg_key: '1234123412341234asdf3456sdfgsdfgw54e6345646'