---

####################################################
# This is a template file. Do not add actual       #
# values here. See README.md for instructions.     #
####################################################

local_user_email: 'no-reply@vagrant.test'
local_user_name: 'Vagrant VM'
local_user_gpg_key: '1234123412341234asdf3456sdfgsdfgw54e6345646'
ssh_config_github_identityfile: |-
  -----BEGIN OPENSSH PRIVATE KEY-----
  asdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdf
  -----END OPENSSH PRIVATE KEY-----
ssh_config_gitlab_identityfile: |-
  -----BEGIN OPENSSH PRIVATE KEY-----
  asdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdf
  -----END OPENSSH PRIVATE KEY-----
ssh_config_slate_identityfile: |-
-----BEGIN OPENSSH PRIVATE KEY-----
asdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdf
-----END OPENSSH PRIVATE KEY-----
ssh_config_slate_user: 'XXXX'
