---

####################################################
# This is a template file. Do not add actual       #
# values here. See README.md for instructions.     #
####################################################

lorem_ipsum: "Maecenas sodales arcu a orci euismod"
pellentesque_lobortis: false